 body {
            margin: 0;
            padding: 0;
            overflow: hidden; / إخفاء التمرير /
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #000; / لون الخلفية أسود */
        
        video {
            width: 100%;
            height: 100%;
        }
